
[submodule "client"]
	path = client
	url = https://github.com/steadfastengineering/node_react_client_base
[submodule "server"]
	path = server
	url = https://github.com/steadfastengineering/node_react_server_base
